<div class="container">
  <div class="row mt-3">
    <!--My pageサイドバーの表示-->
    <div class="col-lg-3 d-flex">
      <%= render 'artist/artist_users/my_page', artist_user: @artist_user %>
    </div>

    <div class="col-lg-9 mt-3">
      <div class="mx-3">
        <h3 class="text-white">Favorite Topics</h3>
      </div>

      <!--いいねしたTopicsが存在するか判断-->
      <% if @topics.present? %>
        <!--自身がいいねをしたトピックス一覧の表示-->
        <%= render 'artist/topics/topic_list', topics: @topics %>

        <div class="col-md-12 d-flex justify-content-center mt-5">
          <div>
            <%= paginate @topics %>
          </div>
        </div>

      <!--存在しない場合-->
      <% else %>
        <p class="text-white mt-3">いいねをした投稿はありません。</p>
      <% end %>
    </div>
  </div>
</div>
