<div class="container-fluid">
  <div class="row">
    <%= render 'artist/profiles/profile', artist_user: @artist_user %>
      <div class="row">
        <div class="col-lg-12 p-5">
          <%= render 'artist/topics/topic_list', topics: @topics %>
        </div>
      </div>
    </div>
  </div>
</div>