<div class="container">
  <div class="row mt-3">
    <div class="col-lg-3 d-flex">
      <%= render 'my_page', artist_user: @artist_user %>
    </div>

    <div class="col-lg-9">
      <div class="d-flex flex-fill">
        <div class="flex-fill">
          <h3 class="text-white">Time Line</h3>
        </div>
        <div class="flex-fill text-right">
          <!--トピックス投稿ボタンの設置-->
          <%= render 'artist/topics/topic_create_button' %>
        </div>
      </div>
      <!--自身の投稿と、フォローしているユーザーの投稿を表示(Time Line)-->
      <%= render 'artist/topics/topic_list', topics: @topics %>
    </div>
  </div>
</div>
