<div class="container">
  <!--フラッシュメッセージの表示-->
  <div class="row d-flex justify-content-center">
    <div class="col-md-6 text-center box">
      <p id="notice" class="m-0 text-info"><%= notice %></p>
    </div>
  </div>
  <!--My pageサイドバーの表示-->
  <div class="row mt-3">
    <div class="col-lg-3">
      <%= render 'my_page', artist_user: @artist_user %>
    </div>

    <!--Time Lineの表示-->
    <div class="col-lg-9 mt-3">
      <div class="d-flex flex-fill mx-3">
        <div class="flex-fill">
          <h3 class="text-white">Time Line</h3>
        </div>
        <div class="flex-fill text-right">
          <!--トピックス投稿ボタンの設置-->
          <%= render 'artist/topics/topic_create_button' %>
        </div>
      </div>
      <!--自身のTopicsまたは、フォローしているArtistのTopicsが存在する場合-->
      <% if @topics.present? %>
        <!--自身の投稿と、フォローしているユーザーの投稿を表示(Time Line)-->
        <%= render 'artist/topics/topic_list', topics: @topics %>
      <!--自身のTopicsまたは、フォローしているArtistのTopicsが存在しない場合-->
      <% else %>
        <div class="box mt-3 text-center p-3">
          <p class="text-white mt-2">ここには、ご自身の投稿したTopicsやフォローしているArtistの投稿したTopicsが表示されます！<br>
          まずはお気に入りのArtistを見つけ、フォローをしてみましょう！</p>
        </div>
      <% end %>
    </div>
  </div>
</div>
