<div class="container-fluid">
  <div class="row">
    <%= render 'artist/profiles/profile', artist_user: @artist_user %>
      <div class="row">
        <div class="col-lg-12 p-5">
          <% if @artist_user.youtube_url.present? %>
            <div class="profile-youtube-box">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @artist_user.youtube_url.last(11) %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>