<div class="container">
  <!--フラッシュメッセージの表示-->
  <div class="row d-flex justify-content-center">
    <div class="col-md-6 text-center box">
      <p id="notice" class="m-0 text-info"><%= notice %></p>
    </div>
  </div>
  <!--My pageサイドバーの表示-->
  <div class="row mt-3">
    <div class="col-lg-3">
      <%= render 'artist/artist_users/my_page', public_user: @public_user %>
    </div>

    <!--Time Lineの表示-->
    <div class="col-lg-9 mt-3">
      <div class="flex-fill mx-3">
        <h3 class="text-white">Time Line</h3>
      </div>
      <!--フォローしているArtistが存在し、そのArtistのTopicsが存在している場合の表示-->
      <% if @topics.present? %>
        <!--自身がフォローをしているArtistのトピックス一覧を表示させる-->
        <%= render 'artist/topics/topic_list', topics: @topics %>

        <div class="col-md-12 d-flex justify-content-center mt-5">
          <div>
            <%= paginate @topics %>
          </div>
        </div>

      <!--フォローしているArtistが存在しない、または、フォローしているArtistのTopicsが存在していない場合の表示-->
      <% else %>
        <div class="box mt-3 text-center p-3">
          <p class="text-white mt-2">ここには、フォローしているArtistの投稿したTopicsが表示されます！<br>
          まずはお気に入りのArtistを見つけ、フォローをしてみましょう！</p>
        </div>
      <% end %>
    </div>
  </div>
</div>
