<div class="container">
  <div class="row mt-3">
    <div class="col-lg-3 d-flex">
      <%= render 'artist/artist_users/my_page', public_user: @public_user %>
    </div>

     <div class="col-lg-9">
       <div class="flex-fill">
         <h3 class="text-white">Time Line</h3>
       </div>
       <!--自身がフォローをしているアーティストユーザーのトピックス一覧を表示させる-->
       <%= render 'artist/topics/topic_list', topics: @topics %>
     </div>
  </div>
</div>
