<div class="container">
  <div class="row mt-3">
    <div class="col-lg-3">
      <%= render 'index_page_sidebar', artist_user: @artist_user, tag_lists: @tag_lists %>
    </div>

    <div class="col-lg-9">
      <%= render 'topic_list', topics: @topics, keyword: @keyword, search_display: @search_display %>
    </div>
  </div>
</div>