<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto mt-4">
      <div>
        <p class="text-white h4">ジャンル名編集</p>
      </div>

      <!--ジャンル名編集フォーム-->
      <div class="mt-3 pb-2">
        <%= form_with model: @genre, url: admin_genre_path do |f| %>
        <div class="d-flex">
          <%= f.label :name, 'ジャンル名',class: "col-form-label text-white mr-5" %>
          <%= f.text_field :name, class: "form-control col-3" %>
          <%= f.submit '変更を保存', class: "btn btn-green btn-success px-3" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
