<%= link_to public_topic_favorites_path(topic), class: "text-white", method: :delete, remote: true do %>
  <i class="fas fa-heart"></i>
<% end %>
<span class="text-white ml-2"><%= topic.favorites.count %></span>