<div class="container">
  <div class="row mt-3">
    <!--My pageサイドバーの表示-->
    <div class="col-lg-3 d-flex">
      <%= render 'artist/artist_users/my_page', public_user: @public_user %>
    </div>

    <div class="col-lg-9 mt-3">
      <div class="mx-3">
        <h3 class="text-white">Favorite Topics</h3>
      </div>
      <!--自身がいいねをしたトピックス一覧を表示-->
      <%= render 'artist/topics/topic_list', topics: @topics %>
    </div>
  </div>
</div>
