<div class="container">
  <div class="row mt-3">
    <div class="col-lg-3 d-flex">

    </div>

    <div class="col-lg-9">
      <%= render 'artist/topics/topic_list', topics: @topics %>
    </div>
  </div>
</div>