<div class="container">
  <div class="row">
    <div class="col-md-12 text-white">
      <h3>Topics</h3>
    </div>
    <% if artist_user_signed_in? %>
    <div class="col-md-12 text-white">
      <%= link_to "Topicを投稿する", new_artist_topic_path %>
    </div>
    <% end %>

    <div class="col-md-12">
      <%= render 'artist/topics/topic', topics: @topics %>
    </div>
  </div>
</div>