<div class="container">
  <div class="row mt-3">
    <div class="col-lg-3">
      <%= render 'artist/topics/index_page_sidebar', public_user: @public_user, tag_lists: @tag_lists %>
    </div>

    <div class="col-lg-9">
      <%= render 'artist/topics/topic_list', topics: @topics, tag_lists: @tag_lists %>
    </div>
  </div>
</div>