<div class="container">
  <div class="row mt-3">
    <div class="col-lg-3">
      <%= render 'artist/topics/index_page_sidebar', public_user: @public_user, tag_lists: @tag_lists %>
    </div>

    <div class="col-lg-9">
      <div class="flex-fill">
        <h3 class="text-white">Topics</h3>
      </div>
      <!--トピックス検索フォームの設置-->
      <%= render 'artist/topics/topics_search_form', keyword: @keyword, search_display: @search_display %>
      <!--トピックス一覧の表示-->
      <%= render 'artist/topics/topic_list', topics: @topics %>
    </div>
  </div>
</div>