<div class="container">
  <div class="row">
    <!--Artist一覧ページのサイドバーの表示-->
    <div class="col-lg-3 mt-3">
      <%= render 'artist/artist_users/index_page_sidebar', public_user: @public_user, genres: @genres %>
    </div>

    <!--Artist一覧の表示-->
    <div class="col-lg-9 mt-3">
      <%= render 'artist/artist_users/artists_list', artist_users: @artist_users, keyword: @keyword %>
    </div>
  </div>
</div>