/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  min-height: 100vh;
  background: linear-gradient(180deg, #4b3b64 0%, #02000C 100%);
}

.navbar {
  z-index: 2;
}

.navbar-brand  {
  font-family: 'Comfortaa';
}

.main-visual {
  position: relative;
  bottom: 56px;
}

/*.profile-box {*/

/*}*/

/*アーティストprofileページ用CSS*/

.profile-box-header {
  height: 300px;
  width: 100%;
  /*background: #cec1c1;*/
  border-radius: 10px;
  /*position: relative;*/
}

.profile_box_header_image {
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: 10px;
  object-fit: cover;
}

.profile-box-image {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  bottom: 140px;
  box-shadow: 10px 10px 15px -10px;
  object-fit: cover;
}

.artist-detail-box {
  position: relative;
  bottom: 120px;
}

.profile-youtube-box {
  padding-top: 56.25%;
  width: 100%;
  position: relative;
}

.profile-youtube-box iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

/*アーティストItem一覧用CSS*/
.item-box {
  width: 100%;
  height: 400px;
  background: rgba(217, 217, 217, 0.2);
  border-radius: 10px;
}

.item-image-box {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

/*アーティスト一覧ページ用CSS*/

.mini-profile-box {
  /*width: 280px;*/
  height: 400px;
  background: rgba(217, 217, 217, 0.2);
  border-radius: 10px;
}

.mini-profile-box-header {
  /*width: 280px;*/
  height: 115px;
  background: #cec1c1;
  border-radius: 10px;
  /*position: relative;*/
}

.mini-profile-box-image {
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  bottom: 35px;
  box-shadow: 10px 10px 15px -10px;
  object-fit: cover;
}

/*followボタンCSS*/

.btn-follow {
  background: linear-gradient(92.73deg, #8779E2 2.31%, rgba(42, 33, 97, 0.84) 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.015em;
  color: #FFFFFF;
}

/*Topic一覧ページ用CSS*/

.mini-topic-box {
  width: 100%;
  background: rgba(217, 217, 217, 0.2);
  border-radius: 10px;
}

.mini-topic-profile-image {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  bottom: 35px;
  object-fit: cover;
}

/*Topic詳細ページ用CSS*/

.topic-box {
  width: 100%;
  background: rgba(217, 217, 217, 0.2);
  border-radius: 10px;
}

.topic-profile-image {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  bottom: 35px;
  object-fit: cover;
}

.topic-youtube-box {
  padding-top: 56.25%;
  width: 100%;
  position: relative;
  text-align: center;
}

.topic-youtube-box iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.topic-image {
  width: 80%;
}

/*My page用CSS*/
.my-page-box-image {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  bottom: 35px;
  box-shadow: 10px 10px 15px -10px;
}