/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(180deg, #4b3b64 0%, #02000C 100%);
}

main {
  margin-bottom: 120px;
}

footer {
  margin-top: auto;
}

.container {
  max-width: 1600px;
}

.navbar {
  z-index: 2;
}

.navbar-brand  {
  font-family: 'Comfortaa';
}

.brand {
  font-family: 'Comfortaa';
  font-weight: 900;
}

.box {
  background: rgba(217, 217, 217, 0.2);
  border-radius: 10px;
}

.box-2 {
  background: #c85dba;
  border-radius: 10px;
}

/*Aboutページ用*/
.about_image1 {
  width: 300px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  animation: fadeIn 5s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
}

.about_image2 {
  width: 600px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  animation: fadeIn 5s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*Top画面、ログイン画面用CSS*/
.main-visual {
  background-size: cover;
  background-position: bottom;
  width: auto;
  height: 100vh;
  position: relative;
  bottom: 56px;
  backdrop-filter: blur(0px);
}

.main-visual-text-box {
  position: relative;
  top: 300px;
}

.button-field {
  position: relative;
  top:600px;
}

/*トップ画面 一般会員登録ボタン*/
.top-public-sign-up-button {
  background: linear-gradient(92.73deg, #79e2ad 2.31%, rgb(42 33 97 / 82%) 100%);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 25px;
  border: none;
  font-weight: 700;
  text-align: center;
  letter-spacing: -0.015em;
  color: #FFFFFF;
}

/*トップ画面 Artist会員登録ボタン*/
.top-artist-sign-up-button {
  background: linear-gradient(92.73deg, #9e7ddb 2.31%, rgb(42 33 97 / 82%) 100%);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 25px;
  border: none;
  font-weight: 700;
  text-align: center;
  letter-spacing: -0.015em;
  color: #FFFFFF;
}

.button-font-big {
  font-size: 25px;
}

/*ログイン画面用CSS*/
.login-form {
  /*width: 70%;*/
  height: fit-content;
  margin: 0 auto;
  position: relative;
  top: 100px;
  background: rgba(0 0 0 / 30%);
  border-radius: 10px;
  backdrop-filter: blur(10px);
}

/*.profile-box {*/

/*}*/

/*アーティストprofileページ用CSS*/

.profile-box-header {
  height: 350px;
  width: 100%;
  /*background: #cec1c1;*/
  border-radius: 10px;
  /*position: relative;*/
}

.profile_box_header_image {
  width: 100%;
  height: 100%;
  background-size: cover;
  /*border-radius: 10px;*/
  object-fit: cover;
}

.profile-box-image {
  /*position: relative;*/
  width: 300px;
  height: 300px;
  border-radius: 50%;
  /*bottom: 140px;*/
  /*left: 100px;*/
  box-shadow: 10px 10px 15px -10px;
  object-fit: cover;
}

.artist-detail-box {
  position: relative;
  bottom: 120px;
}

.profile-youtube-box {
  padding-top: 56.25%;
  width: 100%;
  position: relative;
}

.profile-youtube-box iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

/*アーティストItem一覧用CSS*/
.item-box {
  width: 100%;
  background: rgba(217, 217, 217, 0.2);
  border-radius: 10px;
}

.item-image-box {
  width: 100%;
  height: 300px;
  object-fit: contain;
}

/*アーティスト一覧ページ　サイドバー用CSS*/
.current-user-box {
  background: rgba(217, 217, 217, 0.2);
  border-radius: 10px;
}

.follow-detail-display p {
  margin-bottom: 0;
  color: #b6b9ff;
  font-size: 80%;
}

.genre-search-box {
  background: rgba(217, 217, 217, 0.2);
  border-radius: 10px;
}

/*アーティスト一覧ページ用CSS*/
.search-form {
  background: rgba(217, 217, 217, 0.2);
  border-radius: 10px;
}

.mini-profile-box {
  height: 420px;
  background: rgba(217, 217, 217, 0.2);
  border-radius: 10px;
}

.mini-profile-header-box {
  padding: 0;
}

.mini-profile-header {
  width: 100%;
  height: 115px;
  background: #cec1c1;
  border-radius: 10px;
  object-fit: cover;
  /*position: relative;*/
}

.mini-profile-box-image {
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  bottom: 35px;
  box-shadow: 10px 10px 15px -10px;
  object-fit: cover;
}

.mini-profile-detail {
  position: relative;
  bottom: 30px;
}

.introduction-box {
  height: 90px;
}

.introduction-box-2 {
  height: 138px;
}

.introduction-box-detail {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

/*followボタンCSS*/

.btn-follow {
  background: linear-gradient(92.73deg, #8779E2 2.31%, rgb(42 33 97 / 25%) 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.015em;
  color: #FFFFFF;
}

/*RED ボタンCSS*/

.btn-red {
  background: linear-gradient(92.73deg, #E279A5 2.31%, rgb(83 21 16 / 46%) 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.015em;
  color: #FFFFFF;
}

/*Tag関係CSS*/
.tag-list-box {
  width: 100%;
  background: rgba(217, 217, 217, 0.2);
  border-radius: 10px;
}

.tags {
  background: #54b187;
  border-radius: 5px;
}

.tags p {
  margin-bottom: 0;
  font-size: 80%;
}

/*Topic一覧ページ用CSS*/
.fa-image, .fa-youtube {
  color: #fb3f50;
}

.mini-topic-box {
  /*width: 100%;*/
  background: rgba(217, 217, 217, 0.2);
  border-radius: 10px;
}

.mini-topic-profile-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  bottom: 35px;
  object-fit: cover;
}

.mini-artist-name {
  font-size: 80%;
}

/*Topic詳細ページ用CSS*/

.topic-box {
  width: 100%;
  background: rgba(217, 217, 217, 0.2);
  border-radius: 10px;
}

.topic-profile-image {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  bottom: 35px;
  object-fit: cover;
}

.topic-youtube-box {
  padding-top: 56.25%;
  width: 100%;
  position: relative;
  text-align: center;
}

.topic-youtube-box iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.topic-image {
  width: 80%;
}

.topic-comment-box {
  width: 100%;
  background: rgba(217, 217, 217, 0.2);
  border-radius: 10px;
}

.comment-profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.comment-form-box {
  width: 100%;
  background: rgba(217, 217, 217, 0.2);
  border-radius: 10px;
}

/*My page用CSS*/
.my-page-profile-box {
  width: 80%;
  height: fit-content;
  background: rgba(217, 217, 217, 0.2);
  border-radius: 10px;
}

.my-page-box-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 10px 10px 15px -10px;
  object-fit: cover;
}

/*ダイレクトメッセージページ用CSS*/
.dm-box {
  width: 100%;
  height: 500px;
  background: rgba(217, 217, 217, 0.2);
  border-radius: 10px;
}

.dm-box-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 10px 10px 15px -10px;
  object-fit: cover;
}

.dm-content-box {
  background: rgba(217, 217, 217, 0.2);
  border-radius: 10px;
  font-size: 80%;
  padding: 0;
}

.dm-content-box p {
  margin-bottom: 0;
}

.dm-content-box-sender {
  background: #6aa788;
  border-radius: 10px;
  font-size: 80%;
}

.dm-content-box-sender p {
  margin-bottom: 0;
}

.dm-content-datetime {
  font-size: 60%;
  color: #000000;
}

.btn-green {
  background: linear-gradient(92.73deg, #79e2ad 2.31%, rgb(42 33 97 / 25%) 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.015em;
  color: #FFFFFF;
}

/*ダイレクトメッセージ一覧ページ用CSS*/
.dm-index-box {
  width: 100%;
  background: rgba(217, 217, 217, 0.2);
  border-radius: 10px;
}

.dm-index-content-box {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

/*管理者画面　会員詳細ページ*/
.top-menu {
  margin: 0 auto;
  position: relative;
  top: 100px;
  background: rgba(0 0 0 / 30%);
  border-radius: 10px;
  backdrop-filter: blur(10px);
}

.dedail-page-profile-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 10px 10px 15px -10px;
  object-fit: cover;
}